{% extends 'base.html.twig' %}
 {% block menu %}{% endblock %}
{% block body %}
    {% block fos_user_content %}
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    {% endblock fos_user_content %}
{% endblock %}