{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="col s12">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="row">
            <div class="input-field col s12">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="validate" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="validate" />
            </div>
        </div>

        <button class="btn waves-effect waves-light black" type="submit" id="_submit" name="_submit">
            {{ 'security.login.submit'|trans }}
        </button>
    </form>
</div>
