{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel">

                <div class="row">
                    <div class="input-field col s8">
                        <input placeholder="{% trans %}zoeken{% endtrans %}" id="search" type="text" class="validate">
                    </div>
                    <div class="input-field col s4">
                        <button class="btn waves-effect waves-light" type="button" onclick="searchQuery()"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="result"></div>
{% endblock %}

{% block javascripts %}

    <script type="application/javascript">

        function searchQuery(page) {

            var page = (typeof page === 'undefined') ? 1 : page;

            var query = $("#search").val();

            if(query !== undefined || query !== "") {

                $("#result").html('<div class="progress">\n' +
                    '      <div class="indeterminate"></div>\n' +
                    '  </div>');

                $.post( "{{ path('search') }}", { search: query, page: page })
                    .done(function( result ) {
                        $("#result").html(result);
                    });
            }
        }

    </script>
{% endblock %}