

<div class="row">
    <ul class="collection with-header">
        <li class="collection-header"><h4>{% trans %}resultaten{% endtrans %} : {{ photos.total }}</h4></li>
        {% for result in photos.results %}
            <li class="collection-item avatar">
                <img src="{{ result.urls.thumb }}" alt="photo {{ result.id }}" class="circle">
                <span class="title">{{ result.description }}</span>
                <p>{{ result.width }} x {{ result.height }}</p>
                <a href="{{ result.urls.full }}" target="_blank" class="secondary-content"><i class="material-icons">send</i></a>
            </li>
        {% endfor %}

    </ul>
</div>

{%  if photos.total_pages  > 1 %}
<div class="row">
    <ul class="pagination">
        {%  if page == 1 %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li ><a href="#!" onclick="searchQuery({{ page - 1 }})"><i class="material-icons">chevron_left</i></a></li>
        {%  endif %}

        <li class="active"><a href="#!">{{ page }} / {{ photos.total_pages }}</a></li>

        {%  if page == photos.total_pages %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li ><a href="#!" onclick="searchQuery({{ page + 1 }})"><i class="material-icons">chevron_right</i></a></li>
        {%  endif %}
    </ul>
</div>
{% endif %}