<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Kunstmaan Geert Feytons{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            {% block navigation %}
            <nav class="grey darken-4" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="{{ path('home') }}" class="brand-logo">Kunstmaan Test</a>
                    {% block menu %}
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    </ul>

                    <ul id="nav-mobile" class="sidenav">
                        <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    </ul>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    {% endblock %}
                </div>
            </nav>
            {% endblock %}
        </header>
        {% endblock %}
        <section class="section no-pad-bot">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
